# =========================================================
#  RANCHO CRIADERO LA KAMELIA - Configuracion del Backend
# =========================================================

# Puerto del servidor Express
PORT=4000

# Origen permitido para CORS (frontend en desarrollo)
CLIENT_ORIGIN=http://localhost:5173

# Segredo para firmar los JWT (cambiar en produccion)
JWT_SECRET=cambia-este-secreto-en-produccion
JWT_EXPIRES_IN=8h

# ---------------------------------------------------------
# BASE DE DATOS
# DB_PROVIDER = tidb   -> TiDB (PingCAP) compatible con MySQL  [PRODUCCION]
# DB_PROVIDER = mysql  -> MySQL / MariaDB local (desarrollo)
# ---------------------------------------------------------
DB_PROVIDER=tidb

# --- TiDB Cloud (Serverless o Dedicado) ---
# Copia estos valores desde: TiDB Cloud > Cluster > Connect > General
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=
DB_PASSWORD=
DB_NAME=rancho_kamelia_db

# TLS (obligatorio para TiDB Cloud)
DB_SSL=true
# true = valida el certificado con la CA del sistema.
# false = solo si no tienes el CA y estas en pruebas.
DB_SSL_REJECT_UNAUTHORIZED=true
# Ruta al archivo CA descargado de TiDB Cloud (opcional pero recomendado)
# Ej: C:\certs\tidb-serverless-ca.pem
DB_CA_FILE=
